{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>E-CAFETERIA</title>

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'img/favicon.png' %}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Heebo&display=swap" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body onload="itemFunc()" class="index-body">
    <nav class="navbar navbar-expand-sm navbar-dark topnav sticky-top head3">
      <a class="navbar-brand">
        <img class="tup-icon" alt="logo" src="{% static 'img/favicon.png' %}" />
        TUPC E-Cafeteria
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="topnav">
          <li>
            <a
              href="/menu"
              id="menu-tab"
              title="Menu"
              target="_blank"
            >
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="utensils" class="navlink-svg svg-inline--fa fa-utensils fa-w-13" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 416 512"><path fill="currentColor" d="M207.9 15.2c.8 4.7 16.1 94.5 16.1 128.8 0 52.3-27.8 89.6-68.9 104.6L168 486.7c.7 13.7-10.2 25.3-24 25.3H80c-13.7 0-24.7-11.5-24-25.3l12.9-238.1C27.7 233.6 0 196.2 0 144 0 109.6 15.3 19.9 16.1 15.2 19.3-5.1 61.4-5.4 64 16.3v141.2c1.3 3.4 15.1 3.2 16 0 1.4-25.3 7.9-139.2 8-141.8 3.3-20.8 44.7-20.8 47.9 0 .2 2.7 6.6 116.5 8 141.8.9 3.2 14.8 3.4 16 0V16.3c2.6-21.6 44.8-21.4 48-1.1zm119.2 285.7l-15 185.1c-1.2 14 9.9 26 23.9 26h56c13.3 0 24-10.7 24-24V24c0-13.2-10.7-24-24-24-82.5 0-221.4 178.5-64.9 300.9z"></path></svg>
            <span>Menu</span>  
          </a>
          </li>
          <li>
            <a
              class="active"
              href="/"
              title="Item management"
              ><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="warehouse" class="navlink-svg svg-inline--fa fa-warehouse fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M504 352H136.4c-4.4 0-8 3.6-8 8l-.1 48c0 4.4 3.6 8 8 8H504c4.4 0 8-3.6 8-8v-48c0-4.4-3.6-8-8-8zm0 96H136.1c-4.4 0-8 3.6-8 8l-.1 48c0 4.4 3.6 8 8 8h368c4.4 0 8-3.6 8-8v-48c0-4.4-3.6-8-8-8zm0-192H136.6c-4.4 0-8 3.6-8 8l-.1 48c0 4.4 3.6 8 8 8H504c4.4 0 8-3.6 8-8v-48c0-4.4-3.6-8-8-8zm106.5-139L338.4 3.7a48.15 48.15 0 0 0-36.9 0L29.5 117C11.7 124.5 0 141.9 0 161.3V504c0 4.4 3.6 8 8 8h80c4.4 0 8-3.6 8-8V256c0-17.6 14.6-32 32.6-32h382.8c18 0 32.6 14.4 32.6 32v248c0 4.4 3.6 8 8 8h80c4.4 0 8-3.6 8-8V161.3c0-19.4-11.7-36.8-29.5-44.3z"></path></svg>
              <span>Inventory</span>
            </a>
            </li>
          <li>
            <a href="/inventory" title="Inventory"
              >
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-line" class="navlink-svg svg-inline--fa fa-chart-line fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M496 384H64V80c0-8.84-7.16-16-16-16H16C7.16 64 0 71.16 0 80v336c0 17.67 14.33 32 32 32h464c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16zM464 96H345.94c-21.38 0-32.09 25.85-16.97 40.97l32.4 32.4L288 242.75l-73.37-73.37c-12.5-12.5-32.76-12.5-45.25 0l-68.69 68.69c-6.25 6.25-6.25 16.38 0 22.63l22.62 22.62c6.25 6.25 16.38 6.25 22.63 0L192 237.25l73.37 73.37c12.5 12.5 32.76 12.5 45.25 0l96-96 32.4 32.4c15.12 15.12 40.97 4.41 40.97-16.97V112c.01-8.84-7.15-16-15.99-16z"></path></svg>
              <span>Order</span>
            </a>
          </li>
          <li>
            <a href="/admin-accounts" title="Admins">
              <svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fas"
                data-icon="users"
                class="navlink-svg svg-inline--fa fa-users fa-w-20"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 640 512"
              >
                <path
                  fill="currentColor"
                  d="M96 224c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm448 0c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm32 32h-64c-17.6 0-33.5 7.1-45.1 18.6 40.3 22.1 68.9 62 75.1 109.4h66c17.7 0 32-14.3 32-32v-32c0-35.3-28.7-64-64-64zm-256 0c61.9 0 112-50.1 112-112S381.9 32 320 32 208 82.1 208 144s50.1 112 112 112zm76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C179.6 288 128 339.6 128 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2zm-223.7-13.4C161.5 263.1 145.6 256 128 256H64c-35.3 0-64 28.7-64 64v32c0 17.7 14.3 32 32 32h65.9c6.3-47.4 34.9-87.3 75.2-109.4z"
                ></path>
              </svg>
              <span>Admins</span>
            </a>
          </li>
          <div class="profile-div">
            <div class="profile">
              <svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fas"
                data-icon="user"
                class="navlink-svg svg-inline--fa fa-user fa-w-14"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
              >
                <path
                  fill="currentColor"
                  d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"
                ></path>
              </svg>
            </div>
            <span class="name">{{name}}</span>
            <span class="name-line">| </span>
            <a class="logout-btn" href="{% url 'logout' %}">Logout</a>
          </div>     
        </ul>
      </div>
    </nav>

    <form
      enctype="multipart/form-data"
      id="item-form"
      class="was-validated"
      method="POST"
    >
      <div class="container-fluid contents">
        <div class="row">
          <div
            class="col-sm-3 d-flex flex-column justify-content-between item-height left-content"
          >
            <label class="headeritem">Item Management </label>
            {% csrf_token %}
            <div class="django-form d-flex flex-column justify-content-between">
              {{form.item_categories}} {{form.item_name}} {{form.item_price}}
              {{form.item_quantity}} 
              <div class="update-img">
                {{form.item_img}}
              </div>
            </div>
            <div class="image-preview" id="image-preview">
              <img class="" id="preview-insert-img" alt="" />
            </div>
            <div class="d-flex">
              <button
                data-target="#confirm"
                type="button"
                class="btn btn-primary w-100"
                id="add-button"
                data-toggle="modal"
                title="Submit to menu"
              >
                <i></i> Confirm
              </button>
              <button
                class="btn btn-secondary w-100"
                type="button"
                id="clear"
                data-toggle="tooltip"
                title="Clear inputs"
              >
                Clear
              </button>
            </div>
          </div>
          <!-- Modal -->
          <div
            class="modal fade"
            id="confirm"
            tabindex="-1"
            role="dialog"
            aria-labelledby="confirmModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="confirmModalLabel">
                    Confirmation
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" id="modal-body"></div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <input
                    type="submit"
                    value="Add item"
                    class="btn btn-primary"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-9 item-height right-content">
            <div class="d-flex group-btn">
              <button
                class="col-xl-3 nav-button"
                type="button"
                aria-expanded="false"
                data-toggle="collapse"
                data-target="#itemBreakfast"
                id="btn-breakfast"
              >
                Breakfast
                <span class="badge badge-light badge-pill" id="breakfast-count"
                  >0</span
                >
              </button>
              <button
                class="col-xl-3 nav-button"
                type="button"
                aria-expanded="false"
                data-toggle="collapse"
                data-target="#itemLunchmeals"
                id="btn-lunch"
              >
                Lunchmeals
                <span class="badge badge-light badge-pill" id="lunchmeal-count"
                  >0</span
                >
              </button>
              <button
                class="col-xl-3 nav-button"
                type="button"
                aria-expanded="false"
                data-toggle="collapse"
                data-target="#itemBeverageDrinks"
                id="btn-drinks"
              >
                Beverage and Drinks
                <span class="badge badge-light badge-pill" id="drinks-count"
                  >0</span
                >
              </button>
              <button
                class="col-xl-3 nav-button"
                type="button"
                aria-expanded="false"
                data-toggle="collapse"
                data-target="#itemAddons"
                id="btn-addons"
              >
                Add-ons
                <span class="badge badge-light badge-pill" id="addons-count"
                  >0</span
                >
              </button>
            </div>
            <div class="itemMenu container-fluid">
              <div id="accordion">
                <div
                  class="container-fluid breakFast show"
                  id="itemBreakfast"
                  data-parent="#accordion"
                >
                  <h3 class="col-xl-12 titleMenu">Breakfast</h3>
                  <div
                    class="container-fluid d-flex flex-row"
                    id="breakfast-menu"
                  >
                    <table
                      class="table table-item"
                      id="id-table-item-breakfast"
                    >
                      <thead>
                        <th>Item</th>
                        <th>Display</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Edit</th>
                      </thead>
                      <tbody id="table-content-breakfast">
                        {% for breakfast in breakfast %}
                        <tr>
                          <td>{{ breakfast.item_name}}</td>
                          <td>
                            <img
                              class="food-item-image"
                              src="/static/temp_img/{{ breakfast.item_img }}"
                            />
                          </td>
                          <td>{{ breakfast.item_quantity }}</td>
                          <td>{{ breakfast.item_price }}</td>
                          <td class="edit-btn">
                            <a href="{% url 'update' breakfast.id %}">Edit</a>
                            <a href="{% url 'index' %}">Cancel</a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <div
                  class="container-fluid lunchMeals collapse"
                  id="itemLunchmeals"
                  data-parent="#accordion"
                >
                  <h3 class="col-xl-12 titleMenu">Lunchmeals</h3>
                  <div class="container-fluid d-flex flex-row" id="lunch-menu">
                    <table
                      class="table table-item"
                      id="id-table-item-lunchmeal"
                    >
                      <thead>
                        <th>Item</th>
                        <th>Display</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Edit</th>
                      </thead>
                      <tbody id="table-content-lunchmeal">
                        {% for lunchmeal in lunchmeals %}
                        <tr>
                          <td>{{ lunchmeal.item_name}}</td>
                          <td>
                            <img
                              class="food-item-image"
                              src="/static/temp_img/{{ lunchmeal.item_img }}"
                            />
                          </td>
                          <td>{{ lunchmeal.item_quantity }}</td>
                          <td>{{ lunchmeal.item_price }}</td>
                          <td class="edit-btn">
                            <a href="{% url 'update' lunchmeal.id %}">Edit</a>
                            <a href="{% url 'index' %}">Cancel</a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <div
                  class="container-fluid beverageDrinks collapse"
                  id="itemBeverageDrinks"
                  data-parent="#accordion"
                >
                  <h3 class="col-xl-12 titleMenu">Beverage and Drinks</h3>
                  <div class="container-fluid d-flex flex-row" id="drinks-menu">
                    <table class="table table-item" id="id-table-item-drinks">
                      <thead>
                        <th>Item</th>
                        <th>Display</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Edit</th>
                      </thead>
                      <tbody id="table-content-drinks">
                        {% for drink in drinks %}
                        <tr>
                          <td>{{ drink.item_name}}</td>
                          <td>
                            <img
                              class="food-item-image"
                              src="/static/temp_img/{{ drink.item_img }}"
                            />
                          </td>
                          <td>{{ drink.item_quantity }}</td>
                          <td>{{ drink.item_price }}</td>
                          <td class="edit-btn">
                            <a href="{% url 'update' drink.id %}">Edit</a>
                            <a href="{% url 'index' %}">Cancel</a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <div
                  class="container-fluid addOns collapse"
                  id="itemAddons"
                  data-parent="#accordion"
                >
                  <h3 class="col-xl-12 titleMenu">Add-ons</h3>
                  <div class="container-fluid d-flex flex-row" id="addons-menu">
                    <table class="table table-item" id="id-table-item-addons">
                      <thead>
                        <th>Item</th>
                        <th>Display</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Edit</th>
                      </thead>
                      <tbody id="table-content-addons">
                        {% for addon in addons %}
                        <tr>
                          <td>{{ addon.item_name}}</td>
                          <td>
                            <img
                              class="food-item-image"
                              src="/static/temp_img/{{ addon.item_img }}"
                            />
                          </td>
                          <td>{{ addon.item_quantity }}</td>
                          <td>{{ addon.item_price }}</td>
                          <td class="edit-btn">
                            <a href="{% url 'update' addon.id %}">Edit</a>
                            <a href="{% url 'index' %}">Cancel</a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <script src="{% static 'js/update.js' %}"></script>
  </body>
</html>
